[Unit]
Description=PWM Control Client for %i
After=pwmctld.service

[Service]
Type=simple
ExecStart=/usr/local/bin/pwmctl
Restart=no
User=%i
Group=%i

[Install]
WantedBy=default.target
